<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="io.predict.cordova.example" version="3.0.1">
    <name>ExampleCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#8DC54E"/>
    <preference name="StatusBarStyle" value="lightcontent"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="Orientation" value="portrait"/>
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <!-- App Icons -->
        <icon height="180" src="res/ios/icon-60@3x.png" width="180"/>
        <icon height="60" src="res/ios/icon-60.png" width="60"/>
        <icon height="120" src="res/ios/icon-60@2x.png" width="120"/>
        <icon height="76" src="res/ios/icon-76.png" width="76"/>
        <icon height="152" src="res/ios/icon-76@2x.png" width="152"/>
        <icon height="40" src="res/ios/icon-40.png" width="40"/>
        <icon height="80" src="res/ios/icon-40@2x.png" width="80"/>
        <icon height="57" src="res/ios/icon.png" width="57"/>
        <icon height="114" src="res/ios/icon@2x.png" width="114"/>
        <icon height="72" src="res/ios/icon-72.png" width="72"/>
        <icon height="144" src="res/ios/icon-72@2x.png" width="144"/>
        <icon height="29" src="res/ios/icon-small.png" width="29"/>
        <icon height="58" src="res/ios/icon-small@2x.png" width="58"/>
        <icon height="50" src="res/ios/icon-50.png" width="50"/>
        <icon height="100" src="res/ios/icon-50@2x.png" width="100"/>
        <!-- Splash Screens -->
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320"/>
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640"/>
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768"/>
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536"/>
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640"/>
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750"/>
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242"/>
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
        <hook src="scripts/plistHook.js" type="after_prepare"/>
    </platform>
	
	<platform name="android">
        <!-- App Icons -->
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="ldpi" />
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
		 <!-- Splash Screens -->
		<splash src="res/screen/android/splash.png" density="land-hdpi"/>
		<splash src="res/screen/android/splash.png" density="land-ldpi"/>
		<splash src="res/screen/android/splash.png" density="land-mdpi"/>
		<splash src="res/screen/android/splash.png" density="land-xhdpi"/>
		<splash src="res/screen/android/splash.png" density="port-hdpi"/>
		<splash src="res/screen/android/splash.png" density="port-ldpi"/>
		<splash src="res/screen/android/splash.png" density="port-mdpi"/>
		<splash src="res/screen/android/splash.png" density="port-xhdpi"/>
    </platform>
	
</widget>
